{% extends "base1.html" %}

{% block main_content %}
	
	<div class="forum-post-entry">
	  <p style="color:#b92626;"><strong>Здравствуйте!</strong></p>
	  <p><strong style="color:#b92626;">Мы рады приветствовать Вас на сайте «Простые закупки» в Белгородской области!</strong></p>
	  <p>Наш сайт – уникальное решение очень популярной в России традиции «совместных покупок». Это интернет-магазин, в котором каждый посетитель имеет возможность приобрести любые товары по оптовым ценам. Обратите внимание, что Ваша регистрация на сайте означает согласие с <a href="{% url public_offer %}">публичной офертой</a> пользователям сети интернет на использование автоматических сервисов сайта и просмотр размещенной на сайте информации</p>
<p><strong> <u>«Простые закупки»</u> –  это объединение группы лиц с целью закупки товара для личного применения по оптовым ценам (ценам производителя). Благодаря совместной покупке одежды, обуви, косметики и другой продукции можно экономить до 50% семейного бюджета. Вы экономите не за счет низкого качества товаров, а за счет того, что обходите посредников и покупаете товар непосредственно у производителя! Попробуйте и вы поучаствовать в совместных закупках и Вы научитесь экономить с умом!</strong>    </p>
<p>
	  <img alt="" src="/media/main/871227e31453.jpg" style="width: 640px; height: 335px; ">
	</p>
		<p>&nbsp;</p>
		<p>
		  <span style="color:#b92626;"><strong>Выгода очевидна:</strong></span></p>
		<p>
			<img alt="" src="/media/main/5a5c168f38ec.png" style="width: 200px; height: 193px; "></p>
		<p>
			<strong><span style="color:#4b0082;">Почему на сайтах продавцов такие низкие цены? </span></strong></p>
		<p>
			<strong><span style="color:#4b0082;">Может, товар не качественный?</span></strong></p>
		<p>
			<strong><span style="color:#4b0082;">Качество товара гарантирует производитель и, как правило, совместные покупки совершаются именно у производителя! </span></strong></p>
		<p>
			<strong><span style="color:#4b0082;">Помните, что у обычной розницы очень много неоправданных расходов. </span></strong></p>
		<p>
			<strong><span style="color:#4b0082;">Эти расходы оплачиваете Вы, как окончательный потребитель. На Ваш кошелек ложится бремя оплаты рекламы, вознаграждения посредникам, оплаты аренды магазинов, работы реализаторов, различные сборы и т.д. </span></strong></p>
		<p>
			<img alt="" src="/media/main/0a935768cfad.jpg" style="width: 640px; height: 229px; "></p>
		<p>&nbsp;</p>
		<p>
			<img alt="" src="/media/main/b7439807f091.jpg" style="width: 640px; height: 309px; "></p>
		<p>
			<strong><span style="color:#008080;">В совместных покупках Вы получаете товар непосредственно от производителя или от компании, которой производитель доверил реализацию своей продукции. </span></strong></p>
		<p>
			<strong><span style="color:#008080;">Как работают "совместные покупки"? </span></strong></p>
		<p>
			<img alt="" src="/media/main/0e13daa6c65d.jpg"></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>
			<strong><span style="color:#800000;">Какие недостатки есть у совместных покупок? </span></strong></p>
		<p>
			<strong><span style="color:#800000;">Необходимо подождать выполнения Вашего заказа несколько дней.</span> </strong></p>
		<p>
			<img alt="" src="/media/main/16547bd2898f.png" style="width: 200px; height: 121px; "></p>
		<p>
			<span style="color:#800000;"><strong>Однако это стоит того, чтобы получить значительную выгоду! </strong></span></p>
		<p>
			<img alt="" src="/media/main/c8dba8b72125.png" style="width: 170px; height: 200px; "></p>
		<p>&nbsp;</p>
		<p>
			<span style="color:#800000;"><strong>Купленная вещь может немного не подойти по размеру или производитель пришлет не то, что заказывали. </strong></span></p>
		<p>
			<span style="color:#800000;"><strong>Это случается редко и опять же: игра стоит свеч! После того, как организатор объявил стоп-заказ (фактически заказал товары), отказаться нельзя: не подводите своих друзей! </strong></span></p>
		<p>
			<img alt="" src="/media/main/c56b338a322e.png" style="width: 120px; height: 200px; "></p>
		<p>&nbsp;</p>
		<p>
			<span style="color:#800000;"><strong>Вы можете помочь лишь сбором "минималки" (минимального заказа, объявленного производителем). А сделать это достаточно легко: предложите поучаствовать в совместных покупках своих друзей и знакомых, отправьте им ссылку на эту страницу и, возможно, они вместе с Вами сделают заказ товаров по оптовым ценам, что ускорит его выполнение!</strong></span></p>
		<p>
			<img alt="" src="/media/main/fbd6807ee0e2.jpg" style="width: 640px; height: 299px; "></p>
		<p>&nbsp;</p>
		<p>
			<span style="font-size:14px;">
				<span style="color:#ff0000;">
					<strong>Совместные покупки сегодня получают все большее распространение. В наше экономически нестабильное время совместные покупки - легкий способ сократить расходы!&nbsp;</strong>
				</span>
			</span>
		</p>
</div>
	<div class="forum-user-signature">
		<div class="forum-signature-line"></div>
			<span>Активнее вступаем в группу В Контакте <a href="http://vkontakte.ru/sovmestnonet" target="_blank" rel="nofollow">http://vkontakte.ru</a> 
			<br>
			<br>А так же в Одноклассниках <a href="http://www.odnoklassniki.ru/group/51815532593379" target="_blank" rel="nofollow">http://www.odnoklassniki.ru</a></span>
		</div>
	</div>
	
{% endblock %}
