<link rel="stylesheet" href="/media/main_menu/main_menu.css" type="text/css" media="screen" />
<ul id="menu">
    
    <li><a href="{% url main %}" class="drop">Главная</a><!-- Начало пункта Главная -->
    
        <div class="dropdown_2columns"><!-- Начало контейнера на 2 колонки -->
    
            <div class="col_2">
                <h2>Добро пожаловать!</h2>
            </div>
   
            <div class="col_2">
                <p>Здравствуйте! Вас приветсвует сайт совместных покупок Черноземья</p>             
                <p>Совместные покупки в Воронеже, Тамбове, Липецке, Ельце, Белгороде, Курске, Орле, Борисоглебске, Старом Осколе, Новом Осколе, Алексеевке</p>
            </div>
    
            <div class="col_2">
                <h3>"Простые-закупки" - это</h3>
            </div>
            
            <div class="col_1">
                <img src="/media/main_menu/browsers.png" width="125" height="48" alt="" />
            </div>
            
            <div class="col_1">
                <h3>БЫСТРО<br>ДЕШЕВО<br>УДОБНО</h3>
            </div>
          
        </div><!-- Конец контейнера на 2 колонки -->
    
    </li><!-- Конец пунтка Главная -->

    <li><a href="{% url purchase_type_list %}" class="drop">Закупки</a><!-- Начало пунтка 5 колонок -->
    
        <div class="dropdown_3columns"><!-- Начало контейнера на 5 колонок -->
        
            <div class="col_3">
                <h2>Купим Вместе</h2>
            </div>
           
            <div class="col_3">
            
                <a href="{% url purchase_list 1 0 %}"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Распродажи eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываывавыа ваываываывываmore...</p>
        
                <a href="{% url purchase_list 2 0 %}"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Простые закупки eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваваыв аываывавыа вваывываmore...</p>
                
                <a href="{% url purchase_list 3 0 %}"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Барахолка eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываы ываывываmore...</p>
                
                <a href="{% url purchase_list 4 0 %}"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Пристрой eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываывавыа ваываываывываmore...</p>
            
            </div>
        
        </div><!-- Конец контейнера на 5 колонок -->
    
    </li><!-- Конец пункта 5 колонок -->
    
    <li><a href="#" class="drop">Это интересно</a><!-- Начало пунтка 5 колонок -->
    
        <div class="dropdown_3columns"><!-- Начало контейнера на 5 колонок -->
        
            <div class="col_3">
                <h2>Полезная информация</h2>
            </div>
           
            <div class="col_3">
            
                <a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Хвосты lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываывавыа ваываываывываmore...</p>
        
                <a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Рейтинги, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваваыв аываывавыа вваывываmore...</p>
                
                <a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Изучение спроса, опросы, голосования nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываы ываывываmore...</p>
                
                <a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Объявления. c pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываывавыа ваываываывываmore...</p>
            
            </div>
        
        </div><!-- Конец контейнера на 5 колонок -->
    
    </li><!-- Конец пункта 5 колонок -->
    
    <li><a href="#" class="drop">Помощь</a><!-- Начало пунтка 5 колонок -->
    
        <div class="dropdown_3columns"><!-- Начало контейнера на 5 колонок -->
        
            <div class="col_3">
                <h2>Руководство пользователя</h2>
            </div>
           
            <div class="col_3">
            
            	 <a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Краткое пособие по сайту для новичков. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваываываываываываваыв аываывавыа ваываываывываmore...</p>
            
            	<a href="#"><img src="/media/main_menu/01.jpg" width="50" height="50" class="img_left imgshadow" alt="" /></a>
                <p>Основные правила, понятия, определения. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris.Read ваваыв аываывавыа вваывываmore...</p>
        
            
            </div>
        
        </div><!-- Конец контейнера на 5 колонок -->
    
    </li><!-- Конец пункта 5 колонок -->
    
     <li><a href="#" class="drop">О сайте</a><!-- Начало пунтка 5 колонок -->
    
        <div class="dropdown_3columns"><!-- Начало контейнера на 5 колонок -->
        
        	 <div class="col_3">
            
                <p class="black_box">Здесь мы объединяемся для покупок взрослой и детской одежды и обуви, товаров для дома, игрушек, товаров для спорта и отдыха, сувениров и многого другого по выгодным ценам. Совместная покупка – это термин, означающий публичное приглашение со стороны организатора участников форума к оптовой закупке тех или иных товаров с некоторой наценкой в пользу организатора, осуществляющего затраты для сбора, выкупа, доставки и раздачи товаров. Другими словами - организованная покупка товара по оптовым ценам. Совместные закупки проводят проверенные люди (организаторы), которые успешно провели уже не одну закупку . Отзывы участников и реалные фото приобретений можно посмотреть в разделе «Хвасты». Участвуя в Совместных покупках Вы приобретаете качественные товары по минимальным ценам.</p>
            
            </div>
            
            <div class="col_3">
        
                <img src="/media/main_menu/02.jpg" width="50" height="50" class="img_left imgshadow" alt="" />
                <p>Договор оферты consequat scelerisque. Fusce sed lectus at arcu mollis accumsan at nec nisi. Aliquam pretium mollis fringilla. Nunc in leo urna, eget varius metus. Aliquam sodales nisi.<a href="{% url public_offer %}">Read more...</a></p>
                
                <img src="/media/main_menu/02.jpg" width="50" height="50" class="img_left imgshadow" alt="" />
                <p>Сотрудничество. Fusce sed lectus at arcu mollis accumsan at nec nisi. Aliquam pretium mollis fringilla. Nunc in leo urna, eget varius metus. Aliquam sodales nisi.<a href="#">Read more...</a></p>
                
                <img src="/media/main_menu/02.jpg" width="50" height="50" class="img_left imgshadow" alt="" />
                <p>Обратная связь. Fusce sed lectus at arcu mollis accumsan at nec nisi. Aliquam pretium mollis fringilla. Nunc in leo urna, eget varius metus. Aliquam sodales nisi.<a href="#">Read more...</a></p>
            
            </div>
        
        </div><!-- Конец контейнера на 5 колонок -->
    
    </li><!-- Конец пункта 5 колонок -->
    
</ul>