{% extends "base1.html" %}

{% block main_content %}
	<link rel="stylesheet" type="text/css" media="all" href="/media/purchase_detail/examples.css">
	<link rel="stylesheet" type="text/css" media="all" href="/media/purchase_detail/jquery.fancybox-1.3.4.css">

	<script type="text/javascript" language="javascript" src="/media/purchase_detail/jquery.fancybox-1.3.4.js"></script>
	<script type="text/javascript" language="javascript" src="/media/purchase_detail/web.js"></script>
	<script type="text/javascript" language="javascript">
		$(function() {
			
			$("#foo1").carouFredSel({
				auto	: {
					items 			: 1,
					duration		: 7500,
					easing			: "linear",
					pauseDuration	: 500,
					pauseOnHover	: "immediate"
				},
				height      : 140
			});
			
			$("#foo1").carouFredSel({
			auto : false,
			height : 140,		
			duration: 7500,
			prev : "#foo1_prev",
			next : "#foo1_next",
			});
					
			$("#foo2").carouFredSel({
				auto	: {
					items 			: 1,
					duration		: 1500,
					easing			: "linear",
					pauseDuration	: 500,
				},
				height      : 140
			}).trigger("pause");

			$("#foo2_prev").hover(function() {
				$("#foo2").trigger("configuration", ["direction", "right"]);
				$("#foo2").trigger("play");
			}, function() {
				$("#foo2").trigger("pause");
			}).click(function() {
				return false;
			});

			$("#foo2_next").hover(function() {
				$("#foo2").trigger("configuration", ["direction", "left"]);
				$("#foo2").trigger("play");
			}, function() {
				$("#foo2").trigger("pause");
			}).click(function() {
				return false;
			});
			
		});
	</script>
	<script type="text/javascript" language="javascript" src="/media/purchase_detail/jquery.carouFredSel-5.5.0-packed.js"></script>

	<a href="{% url purchase_list purchase.type.id purchase.category.id %}">{{purchase.category}} <- Посмотреть остальные сборы</a>
	
		
	<div>
        <h3>{{purchase.name}}</h3>
        <br>
        {{purchase.comment|safe}}
	</div>
    	
	<br>	
	<div id="foo1">	
		
		{% for product in product_list %}
        	<a rel="example_group" class="various iframe" href="{% url product_detail product.id %}" title="{{product.name}}">
                <img src="{{product.link}}" alt="sunbading" width="140" height="140">
            </a>
		{% endfor %}

		
        
	   
	</div>
	<div class="clearfix"></div>
    <div>
		<a class="prev" id="foo1_prev" href="#" style="display: block; "><span>prev</span></a>
		<a class="next" id="foo1_next" href="#" style="display: block; "><span>next</span></a>
    </div>

{% endblock %}